@use '@/styles/variables' as *;

.inputWrapper {
  position: relative;
  width: 100%;
  max-width: 50%;
  display: flex;
  align-items: center;

  @media (max-width: $mobile-breakpoint) {
    max-width: 100%;
  }
}

.searchInput {
  width: 100%;
  padding: $spacing-sm $spacing-md;
  padding-right: $spacing-xxl;
  border-radius: $border-radius;
  border: 1px solid transparent;
  background-color: $tertiary-color;
  color: $text-color;
  outline: none;
  font-family: $font-family-base;
  transition: all 0.2s;
  height: 40px;

  &::placeholder {
    color: $text-light;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba($secondary-color, 0.5);
    border-color: $secondary-color;
  }
}

.clearBtn {
  position: absolute;
  right: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-xs;
  border-radius: 50%;
  color: $text-light;
  transition: all 0.2s;

  &:hover {
    background-color: $bg-card-color;
    color: $text-error;
  }

  &:focus {
    outline: none;
    background-color: $bg-card-color;
  }
}