@use '@/styles/variables' as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-family-base;
  background-color: $bg-body;
  color: $text-color;
  overflow: hidden;
}

.dashboard-grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    "header header"
    "sidebar main";
  grid-template-columns: max-content 1fr;
  grid-template-rows: $header-height 1fr;
  transition: grid-template-columns 0.3s ease-in-out;
}

.area-header {
  grid-area: header;
  height: $header-height;
  z-index: 10;
}

.area-sidebar {
  grid-area: sidebar;
}

.area-main {
  grid-area: main;
  background-color: $bg-main;
  overflow-y: auto;
  height: 100%;
  padding: $spacing-lg;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 4px;
    border: 1px solid $bg-body;
  }
}