@use '@/styles/variables' as *;

* {
  font-family: $font-family-base;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-family-base;
  background-color: $bg-body;
  color: $text-color;
  overflow: hidden;
}

.dashboard-grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    "header header"
    "sidebar main";
  grid-template-columns: max-content 1fr;
  grid-template-rows: $header-height 1fr;
  transition: grid-template-columns 0.3s ease-in-out;

  @media (max-width: $mobile-breakpoint) {
    grid-template-columns: 100% !important;
    grid-template-areas:
      "header"
      "main" !important;
    grid-template-rows: $header-height 1fr !important;
  }
}

.area-header {
  grid-area: header;
  height: $header-height;
  z-index: 10;

  @media (max-width: $mobile-breakpoint) {
    gap: $spacing-md;
  }
}

.area-sidebar {
  grid-area: sidebar;

  @media (max-width: $mobile-breakpoint) {
    position: fixed !important;
    top: 0;
    left: 0;
    height: 100vh;
    border-right: 1px solid $border-highlight;
  }
}

.area-main {
  grid-area: main;
  background-color: $bg-main;
  overflow-y: auto;
  height: 100%;
  padding: $spacing-lg;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: $border-radius;
    border: 1px solid $bg-body;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 100%;
    padding-left: calc(80px + #{$spacing-md});
    padding-right: $spacing-md;
  }
}