@use '@/styles/variables' as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-family-base;
  background-color: $bg-body;
  color: $text-color;
}

.dashboard-grid {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header header"
    "sidebar main";
  grid-template-columns: $sidebar-width 1fr;
  grid-template-rows: $header-height 1fr;
}

.area-header {
  grid-area: header;
  height: $header-height;
}

.area-sidebar {
  grid-area: sidebar;
  width: $sidebar-width;
}

.area-main {
  grid-area: main;
  background-color: $bg-main;
  overflow-y: auto;
  padding: $spacing-lg;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
    border-radius: 4px;
    border: 2px solid $bg-body;
  }
}