@use '@/styles/variables' as *;

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bg-header;
  padding: $spacing-lg;
}

.logo {
  width: $sidebar-width - $spacing-lg;
  flex-shrink: 0;

  @media (max-width: $mobile-breakpoint) {
    width: auto;

    img {
      height: 24px;
      width: auto;
    }
  }
}

.searchFilter {
  flex: 1;
  display: flex;
  margin: 0 $spacing-xl 0 0;
  gap: $spacing-sm;

  .filterButton {
    margin-right: $spacing-sm;
    background-color: $tertiary-color;
    font-family: $font-family-base;
    font-weight: 600;
    color: $text-color;
    border: 1px solid $border-neutral;
    border-radius: $border-radius;
    padding: $spacing-sm $spacing-md;
    cursor: pointer;
  }

  @media (max-width: $mobile-breakpoint) {
    margin: 0;
  }
}

.userAvatar {
  @media (max-width: $mobile-breakpoint) {
    width: 32px;
    height: 32px;
  }
}