@use '@/styles/variables' as *;

.sideBarContainer {
  background-color: $bg-sidebar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $spacing-xl $spacing-md;
  gap: $spacing-xxl;
  position: sticky;
  top: 0;
  border-right: 1px solid rgba($border-neutral, 0.1);
  width: $sidebar-width;
  transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
  overflow: hidden;
  white-space: nowrap;

  &.collapsed {
    width: $sidebar-width-collapsed;
    padding: $spacing-xl $spacing-xs;

    .groupTitle {
      opacity: 0;
      transition: opacity 0.2s;
    }

    .navLink {
      justify-content: center;
      gap: 0;

      span {
        opacity: 0;
        width: 0;
        visibility: hidden;
      }
    }
  }
}

.menuGroup {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  .groupTitle {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: $text-light;
    font-weight: 700;
    padding-left: $spacing-md;
    margin-bottom: $spacing-xl;
  }
}

.navLink {
  display: flex;
  align-items: center;
  gap: $spacing-md;
  padding: $spacing-sm $spacing-md;
  border-radius: $border-radius;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;
  color: $text-white;
  height: 48px;
  transition: all 0.2s ease-in-out;
  position: relative;

  svg {
    stroke: currentColor;
    transition: stroke 0.2s;
    min-width: 24px;
  }

  span {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
  }

  &:hover {
    background-color: $hover-bg-color;
    color: $text-color;

    svg {
      stroke: $text-color;
    }
  }

  &[data-active="true"] {
    background-color: $bg-card-color;
    color: $text-color;
    font-weight: 600;

    box-shadow: inset 4px 0 0 $secondary-color;

    svg {
      stroke: $text-color;
    }
  }
}

.toggleBtn {
  width: $spacing-xxl;
  height: $spacing-xxl;
  background: transparent;
  border: 1px solid rgba($text-light, 0.2);
  color: $text-white;
  padding: $spacing-sm;
  border-radius: $border-radius;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  margin: 0 $spacing-sm;

  &:hover {
    background: rgba($secondary-color, 0.1);
    border-color: $secondary-color;
    color: $secondary-color;
  }

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}